/* button colors */


header {
    display: inline-block;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #58F564;
    background-image:url('../img/Index_background_element.jpg');
    width: 100%;
    height: 8rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  header>div {
    margin-top: 30px;
    font-size: 2rem;
    -webkit-text-stroke: white;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #1d1a1a, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000,
            0 0 10px #3be652, 0 0 10px #30d42b, 0 0 10px #37d628;
    }
  
    to {
        text-shadow: 0 0 20px #eeeeee, 0 0 20px #295a29, 0 0 20px #21eb3c, 0 0 20px #1bdd25,
            0 0 10px #17c217, 0 0 20px #2df812, 0 0 20px #63e00f;
    }
  }
  
  nav {
    margin-top: 30px;
  }
  
  nav>a {
    margin: 30px;
    color: #58F564
  }
  
  a:link {
    text-decoration: none;
  }
  
  a:hover {
    -webkit-text-stroke: white;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  a:visited {
    text-decoration: none;
  }
 

body {
background: #dbe5e9;;
}

main{
    display:grid;
    grid-template-rows: 600px;
    grid-template-columns: repeat(3, 545px);
    justify-content: center;
}

.puzzlewrap {
    width: 850px;
    margin: 50px auto;
}

li {
    font-family: Arial, Helvetica, sans-serif 22pt; 
    color: black;
}

/* style for puzzle */
#puzzle {
    margin-top: 10px;
    grid-column: 2;
    justify-items: start;
    display: inline-block;
    /* align-content: center; */
    width: 545px;
    height: 540px;
}

#puzzle div {
    display: grid;
    grid-template-rows: repeat(11, 44px);
    grid-template-columns: repeat(12,42px);
    width: 100%;
    margin: 0 auto;
}

#puzzle > div {
    position:relative;
}

sup {
    position: absolute;
    margin-left: 2px;
}

.puzzleSquare {
    height: 40px;
    width:40px;
    text-transform: uppercase;
    text-align: center;
    background-color: #fcfcfc;
    border: 0;
    margin-left:0px;
    margin-right:0px;
    outline: black thin solid;
    font-family: Arial, Helvetica, sans-serif 1em;
    color: black;
}

.emptySquare {
    height: 40px;
    width:40px;
    text-transform: uppercase;
    text-align: center;
    background-color: #dbe5e9;
    border: 0;
    color: #dbe5e9;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#clues {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 50px;
}

#clues > div {
    grid-template-rows: auto;
    border: solid thin black;
    background-color: #ffffff;
    padding:50px;
    width: 240px;

}

.clueList{
    list-style: decimal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
#user{
    display:grid;
    grid-column: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#score {
    grid-column: 2;
    justify-self: center;
    background-color: rgba(0, 0, 0, 0.712);
    color:#30d42b;
    border: solid thin #30d42b;
    padding: 3px;
}

#userInitials {
    grid-row: 1;
}

#userInitials > label {
    background-color: rgba(0, 0, 0, 0.712);
    color:#30d42b;
    border: solid thin #30d42b;
    padding: 3px;
}

#userInitials > input {
    height: 20px;
}
button {
    border-radius: 8px;
    width: 90px;
    height: 30px;
    transition-duration: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.712);
    border: #30d42b;
    color:#30d42b;
}
button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
button::-moz-focus-inner {
    border: none;
    outline: none;
}

/* selected indicates when a square has been selected */

#puzzle .selected {
    color: #33c4f5;
    outline: none; }  
.blue-input:focus{
    border: none;
}

/* indicates that square is part of a word that has been found */

#puzzle .found {
    color: #fcec09;
}

#puzzle .solved {
    color: #faa200;
}

#puzzle .complete {
    background-color: #fcfcf9;
}

/* style for the word list */

#word {
    width: 250px;
    color: gray;
    float: left;
    margin-top: 37px;
}

#words ul {
    list-style-type: none;
}

#words li {
    padding: 0 0 7px;
    font-family: sans-serif 1em; 
    display: block;
    float: left;
    width: 100px;
}
/* indicates that the word has b een found  */
#words .wordFound {
    text-decoration: line-through;
    color: black;
}

/* style for the button */
#solve {
    margin: 30px 30px 0 40px;
    background: transparent
    #c38334;
    padding: 10px 20px;
    border: 2px solid; color: #eb744b;
    border-radius: 25px;
opacity: 5;
    transition: opacity .25s ease-in;
    
}
    a :hover,  :gameSolve {
        opacity: 1;
    }






    
