header {
    display: inline-block;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: #58F564;
    background-image:url('../img/Index_background_element.jpg');
    width: 100%;
    height: 8rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  header>div {
    margin-top: 30px;
    font-size: 2rem;
    -webkit-text-stroke: white;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #1d1a1a, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000,
            0 0 10px #3be652, 0 0 10px #30d42b, 0 0 10px #37d628;
    }
  
    to {
        text-shadow: 0 0 20px #eeeeee, 0 0 20px #295a29, 0 0 20px #21eb3c, 0 0 20px #1bdd25,
            0 0 10px #17c217, 0 0 20px #2df812, 0 0 20px #63e00f;
    }
  }
  
  nav {
    margin-top: 30px;
  }
  
  nav>a {
    margin: 30px;
    color: #58F564
  }
  
  a:link {
    text-decoration: none;

  }
  
  a:hover {
    -webkit-text-stroke: white;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  
/* color will gradient from black to gray */
body {
/* padding-top: 10rem; */
padding-bottom: 10rem- 72px;
background-image: linear-gradient(180deg, #238fa8, #40d2f5); 
background-repeat: no repeat;
background-position: center;
background-attachment: scroll;
background-size:cover ;
height: 80rem;

}

/* For browsers that do not support gradients */
#grad1 {
    height: 100px;
    background-color: #238fa8; 
    background-image: linear-gradient(180deg, #238fa8, #40d2f5);
}

/* all caps for text */
h1 {
    text-transform: uppercase;
    color: #58f564;
}



h3 {
    color: #58f564;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    text-decoration: underline;
 
}

h5 {
    text-transform: capitalize;
    color: #F56A4B;
    font-size: 27px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    text-decoration: underline;
    margin-top: 30px;
}
img{
  
  border-radius: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#imgLinks{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10rem;
  

}
ol{
  
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: #F56A4B;
  margin-top: 20px;
  
  border-radius: 20px;
  

}
li{
  margin-bottom: 8px;
}
.leaderboard{
  background:#2c3233 ;
  /* height: 130px; */
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: auto;
  margin: 20px auto;
  padding: .1rem;
  background-image:url('../img/Index_background_element.jpg');
  
}
footer{
  margin-top: 20rem;
  font-family: 'Press Start 2P', cursive;
  

}
#background{
  background-image:url('../img/Index_background_element.jpg');
}
.grow{
  transition: 1s ease;
  }
  
  .grow img:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
  }
