body {
    background-image: url(/imgs/pinkcloud.jpg);
    background-size: 100%;
}

#grid {
    width: 800px;
    height: 700px;
    display:flex;
    flex-wrap: wrap;
    border: solid black 1px;
    margin: auto;   
    background-color: white;
}

img {
    width: 200px;
    height: 200px;
}

header {

        text-align: center;
        border: 3px;
}


h1 {
    font-size: 275%;
    
}

nav {
    font-size: 150%; 
    text-align: left;  
}

h2 {
    margin: auto;
    text-align: center;  
}

h3 {
    text-align: center;
}

.grow img{
    transition: 1s ease;
    }
    
    .grow img:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    }